{% extends '::base.html.twig' %}

{% block body %}
    <h2>{{ 'HEADING_CREATE_PASSWORDS'|trans }}</h2>
    <h3>{{ 'HEADING_DESCRIPTION'|trans }}</h3>

    {% block layout %}
    {% endblock layout %}
{% endblock body %}
